@import url('login.css');

@media screen and (max-width: 830px) {
    body {
        margin: 50px 50px;
        overflow: hidden;
        min-width: 500px;
        min-height: 560px;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
        background: transparent;
        row-gap: 50px;
        height: 100%;
    }

    label#text-logar {
        top: -20px;
    }

    section#infos {
        border-radius: 10px;
        height: 150px;
    }

    section#formulario {
        background: var(--cinza);
        border-radius: 10px;
        padding: 20px 0;
        height: 50%;
    }
}