<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta
                  name="viewport"
                  content="width=device-width, initial-scale=1.0"
            />
            <link rel="stylesheet" href="css/dashboardstyle.css" />
            <title>CodeMoney</title>
      </head>
      <body>
            <section id="hud">
                  <nav class="navbar">
                        <div>
                            <img
                              id="userimg"
                              src="images/user.png"
                              alt="userfig"
                              height="100px">
                        </div>
                        <div class="botoes">
                            
                            <a href="#maincontainer"><img id="home" src="images/home.png" alt="home"></a>
                            <a href="#utilidades"><img id="dashboard" src="images/dashboard.png" alt="dashboard"></a>
                            <a href="/multiplicadores"><img id="multiplicadores" src="images/multiplicadores.png" alt="multiplicadores"></a>
                            <a href="/index"> <img id="logoff" src="images/logoff.png" alt="logoff"></a>
                        </div>
                  </nav>
                  <div class="namecontainer">
                        <p>Olá, Pedro Brasil</p>
                        
                  </div>
                  <div id="pagina">
                        <main id="maincontainer">
                              <div class="blococreditcredit">
                                    <div id="blococredit">
                                          <div class="creditmoneycontainer">
                                                <h2>Saldo De Garantia:</h2>
                                                <h3>R$:400,00</h3>
                                          </div>
                                          <div class="extratodeposito">
                                                <div
                                                      class="extrato"
                                                      type="button"
                                                >
                                                      <h3>Ver Extrato</h3>
                                                </div>
                                                <div
                                                      class="deposito"
                                                      type="button"
                                                >
                                                      <h3>Depositar</h3>
                                                </div>
                                          </div>
                                    </div>

                                    <div class="creditcreditcontainer">
                                          <div class="creditvalue">
                                                <h3>
                                                      Valor Crédito Disponivel:
                                                </h3>
                                                <p>R$:500,00 de R$:1000,00</p>
                                                <progress
                                                      class="barra"
                                                      value="500"
                                                      max="1000"
                                                >
                                                      100%
                                                </progress>
                                          </div>
                                    </div>
                              </div>
                              <section class="faturaconteiner">
                                    <div class="titulofatura">Fatura:</div>
                                    <div class="atributosfatura">
                                          <div class="valorfatura">
                                                Valor Fatura: R$:500,00
                                          </div>
                                          <div class="valoramortização">
                                                Amortização: R$ 50,00
                                          </div>
                                          <div class="valorfinal">
                                                Valor Final: R$: 450,00
                                          </div>
                                    </div>
                              </section>
                        </main>

                        <section id="utilidades">
                              <ul class="utilidadesmoney">
                                    <li>PIX</li>
                                    <li>Transferências</li>
                                    <li>Boleto</li>
                                    <li>Recarga</li>
                              </ul>
                        </section>
                        <footer>
                              <section class="multiplicadores" type="button">
                                    <a href='/multiplicadores'>Multiplicadores</a>
                              </section>
                        </footer>
                  </div>
            </section>
      </body>
</html>
