<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="css/form-cadastrar.css">
</head>
<body>
    <section id="cadastrar">
        <section class="form-container">
            <div class="form-img">
                <img src="images/credit-card.png" alt="Cartão de crédito">
            </div>
            <form action="/cadastrar" method="POST">
                <h2 class="form-title">Cadastrar</h2>

                <label for="name">Nome Completo:</label>
                <input type="text" name="name" id="name" placeholder="Nome completo" required>
        
                <label for="cpf">CPF:</label>
                <input type="number" name="cpf" id="cpf" placeholder="Digite o seu CPF" required>
        
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Digite o seu Email" required>
        
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Crie uma senha" required>
        
                <div class="button">
                    <button type="submit">Cadastrar</button>
                    <button>Login</button>
                </div>
        
            </form>
        </section>
    </section>
</body>
</html>