<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta
                  name="viewport"
                  content="width=device-width, initial-scale=1.0"
            />
            <title>CrediTech</title>
            <link rel="stylesheet" href="css/index.css" />

            <!-- JQUERY -->
            <script
                  src="https://code.jquery.com/jquery-3.6.0.min.js"
                  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                  crossorigin="anonymous"
            ></script>

            <!-- JQUERY-MASK -->
            <script
                  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
                  integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
                  crossorigin="anonymous"
                  referrerpolicy="no-referrer"
            ></script>
      </head>

      <body>
            <header>
                  <nav>
                        <a class="logo" href="index.html">CrediTech</a>
                        <ul>
                              <li><a href="">Início</a></li>
                              <li><a href="#about-us">Sobre</a></li>
                              <li><a href="/form-cadastrar">Cadastre-se</a></li>
                              <li><a href="/login">Login</a></li>
                        </ul>
                  </nav>
            </header>

            <main>
                  <section class="main-img">
                        <img src="../public/images/logo.png" alt="Logo" />
                        <h1>
                              O mesmo cartão. Uma nova forma de pedir crédito.
                        </h1>
                  </section>

                  <section id="about-us">
                        <div class="about-us-container">
                              <h2>Como Funciona</h2>
                              <p>
                                    Porque nos escolher? Porque o cartão de crédito da CrediTech é exatamente como
                                    a maioria dos cartões de crédito, com limite e
                                    fatura. Mas a forma de contratação e liberação,
                                    foi especialmente pensada para ajudar a
                                    reorganizar a sua vida financeira.
                              </p>
                              <p>
                                    Quando você adquirir o nosso serviço, você irá
                                    pagar uma taxa que pode ser à vista ou
                                    parcelado em 3x no boleto como forma de garantia.
                                    Após o pagamento integral dessa taxa de garantia, você
                                    receberá um cartão de crédito com o limite de 200%
                                    do valor da garantia pago, limitado de acordo com
                                    a renda. Deste valor da taxa de garantia, 90% voltará para
                                    você, pois será amortizado aos poucos em no mínimo 10
                                    parcelas.
                              </p>
                              <p>
                                    Caso você atrase o seu cartão por 15 dias, o seu
                                    cartão será bloqueado temporariamente até você
                                    quitá-lo. Se o atraso persistir por 2 meses, o seu
                                    cartão será cancelado e o restante do dinheiro da
                                    garantia que ainda restava para amortizar nas
                                    parcelas, será usado para quitar as parcelas em
                                    atraso.
                              </p>
                        </div>
                  </section>

                  <article class="cards">
                        <div class="cards-container1">
                              <img src="../public/images/card-1.png" alt="Card 1" />
                              <img src="../public/images/card-2.png" alt="Card 2" />
                              <img src="../public/images/card-3.png" alt="Card 3" />
                        </div>
                        <div class="cards-container2">
                              <img src="../public/images/card-4.png" alt="Card 4" />
                              <img src="../public/images/card-5.png" alt="Card 5" />
                        </div>
                  </article>
                  <section class="required">
                        <h2>Requisitos</h2>
                        <ul>
                            <li>-Há 6 meses sem dívidas incluídas no Serasa</li>
                            <li>-Contas básicas quitadas em dia</li>
                        </ul>
                    </section>
            </main>

            <script>
                  $(document).ready(function () {
                        $('.mascara-cpf').mask('000.000.000-00')
                  })
            </script>
      </body>
      <footer>
            <p>&copy; CrediTech</p>
            <p>2022</p>
      </footer>
</html>
