@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: arimo;
    align-items: center;
}
body{
    background-image: linear-gradient(to bottom right, #012030,#13678A,#45C4B0, #9AEBA3);
}
#hud{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    
    
}
.navbar{
    display: flex;
    flex-direction:row;
    position: relative;
    align-items: center;
    background-color:linear-gradient(to bottom right, #012030,#13678A,#45C4B0, #9AEBA3);
    padding: 3%;
    
}

.namecontainer {
    display: flex;
    flex-direction:row;
    position: relative;
    align-items: flex-end;
    background-color:linear-gradient(to bottom right, #012030,#13678A,#45C4B0, #9AEBA3);;
    padding: 3%;
    color:#9AEBA3;
    margin: 0;
    border: 1px;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-between;
    font-weight: 600;
    height: auto;
}
#maincontainer{
    padding: 30px;
}
.blococreditcredit{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 80px;
}
.creditmoneycontainer{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 0px;
    border: 1px;
    border-radius: 10px 10px 0px 0px ;
    background-color: white;
    color:  #13678a /* #9aeba3 ;*/;
    height: 160px;

}

.creditmoneycontainer h3{
    font-size: 50px;
}


.extratodeposito{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    background-color: white;
    color: #13678A;
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    height: auto;
    
}

#blococredit{
    display: flexbox;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    border: 1px;
    border-radius: 10px;
    flex-grow: 0.5;
}

.extrato:hover{
    background-color: #13678a;
    cursor: pointer;
    color: white;
    border: 1px;
    border-radius: 10px;
}
.extrato{
   padding: 10px;
}

.deposito:hover{
    background-color: #13678a;
    cursor: pointer;
    color: white;
    border: 1px;
    border-radius: 10px;
    
}
.deposito{
    padding: 10px;
}

.creditcreditcontainer{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 1px;
    border-radius: 10px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    color:#13678A;
    height: 215px;
    flex-grow: 0,7;
    
}
.barra {
    display: flex;
    width: 95%;
    height: 40px;
    padding: 0% 5%;
    align-items: flex-start;
    
}
.creditvalue{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.creditcreditcontainer h3 {
    font-size: 35px;
    font-weight: 600;
}
.creditcreditcontainer p {
    font-size: 40px;
    font-weight: 600;
}
.faturaconteiner{
    display: inline-flexbox;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px;
    border-radius: 10px;
    background-color:white;
    color: #13678A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);

}


.atributosfatura{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
    background-color:white;
    font-weight: 600;
    
}
.titulofatura{
    font-weight: 600;
    font-size: 50px;
    background-color: white;
}
.valorfatura{
    display: flexbox;
}
.valoramortização{
    display: flexbox;
}
.valorfinal{
    display: flexbox;
}
.utilidadesmoney li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
    padding: 5%;
    font-size: 40px;
    border: 1px;
    border-radius: 10px;
    background-color:white;
    color: #13678A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
}
.utilidadesmoney {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;

}
.utilidadesmoney li:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.utilidadesmoney li{
    transition: 0.5s ease transform;
}
.multiplicadores{
    margin: 20px;
    padding: 5%;
    border: 1px;
    border-radius: 10px;
    background-color:white ;
    color: #13678A;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    font-weight: 600;
}
.multiplicadores p{
    font-size: 60px;
}
.multiplicadores:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.multiplicadores{
    transition: 0.5s ease transform;
}
.navbar #userimg:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.navbar #userimg{
    transition: 0.5s ease transform;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline #333333ef 3px;
}

a:active,
a:visited {
    color: #333;
}

@media only screen and (max-width: 1080px) {
    .blococreditcredit {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 60px;   
    }
}
