@import url('metricas.css');

@media screen and (max-width: 720px) {
    h1 {
        font-size: 35px;
        text-align-last: center;
    }

    main {
        width: 90%;
    }

    #ipt-file {
        font-size: 23px;
    }
}