@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --cinza: #f5f5f5;
    --cinza-claro: #f5f5f5ef;
    --primary-color: #359183;
    --second-color: #40b1a075;
    --third-color: #40b1a025;
    --cinza-bold: #333;
}

::selection {
    background: var(--third-color);
    text-decoration-color: transparent;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #012030, #13678A, #45C4B0, #9AEBA3);
    min-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 60%;
    margin: 0;
    background: var(--cinza);
    padding: 20px 0;
    border: 1px solid var(--cinza);
    border-radius: 5px;
}


h1 {
    margin: 25px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

label {
    display: block;
    cursor: pointer;
    padding: 0 10px;
    transition: background-color .4s;
    border-radius: 5px;
}

label:hover {
    border-radius: 5px;
    background-color: var(--second-color);
    transition: .35s;
}

label[class='mini'] {
    font-size: 12px;
    text-align: center;
    height: 1rem;
    width: 100%;
}

label[class='mini']:hover {
    background-color: #40b1a015;
    cursor: auto;
}

input[type='file'] {
    display: none;
}

hr#sep {
    width: 100%;
    background-color: var(--primary-color);
    height: 3px;
}

button {
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--cinza-bold);
    background-color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

button:hover {
    border: 1px solid white;
    outline: 1px solid var(--cinza-bold);
    background-color: var(--cinza-bold);
    transition: all .4s ease;
    color: white;
}

#ipt-file {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    row-gap: 10px;
}